{erl_opts, [no_debug_info]}.

{plugins, [rebar3_hex]}.
{deps, [
    {shotgun, "0.5.0"},
    
    {jsx, "~> 3.0"}
    ]}.

{shell, [{apps, [twitter_stream]}]}.

{escript_incl_apps,
 [twitter_stream]}.
{escript_main_app, twitter_stream}.
{escript_name, twitter_stream}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
